<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Kategori: ' + ${kategori}">Category</title>
    <link rel="stylesheet" th:href="@{/css/perkategori.css}" />
</head>
<body>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="main-content">
    <h1 th:text="${kategori}"></h1>
    <a href="/user/dashboard" class="btn-back">⬅ Back</a>

    <div th:if="${#lists.isEmpty(produkList)}">
        <p>Nothing Product in this Category</p>
    </div>

    <div class="product-grid" th:if="${!#lists.isEmpty(produkList)}">
        <div class="product-card" th:each="p : ${produkList}">
            <img th:src="@{'/uploads/' + ${p.gambarUrl}}"
                th:alt="'Gambar ' + ${p.nama}" class="card-img"/>
            <div class="card-body">
                <h3 th:text="${p.nama}">Name</h3>
                <p th:text="'IDR ' + ${#numbers.formatDecimal(p.harga, 0, 2, 'COMMA')}">Price</p>
                <a th:href="@{|/user/detail/${kategori}/${p.id}|}" class="btn-detail">Detail</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('logout-form').addEventListener('submit', function(event) {
        event.preventDefault();
        fetch(this.action, {
            method: 'POST',
            headers: {
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/login';
            } else {
                alert('Logout failed!');
            }
        })
        .catch(error => {
            console.error('Error saat logout:', error);
            alert('An error occurred while trying to log out.');
        });
    });
</script>

</body>
</html>
