<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="sidebar" th:fragment="sidebar">
    <h2>🍰 User Menu</h2>
    <ul>
        <li th:each="kategoriItem : ${categories}">
            <a th:href="@{|/user/kategori/${kategoriItem}|}"
                th:text="${kategoriItem}"
                th:classappend="${#strings.equals(kategori, kategoriItem)} ? 'active' : ''">
            </a>
        </li>
        
        <li><a href="/keranjang">🛒 Keranjang Saya</a></li>
        <li><a th:href="@{/riwayat-pesanan}">📋 Riwayat Pesanan</a></li>
        <li><a th:href="@{/profile}">👤 My Profile</a></li>
        
        <li>
            <form th:action="@{/logout}" method="post" style="display:inline;" id="logout-form">
                <button type="submit" class="logout-button">🔙 Logout</button>
            </form>
        </li>
    </ul>
</div>

</body>
</html>